.bar-container {
  display: flex;
  align-items: flex-end; 
  height: 200px;
  gap: 5px;
  padding: 20px;
  background: #f4f4f4;
}

.bar {
  width: 30px;
  background-color: #3498db;
  transition: height 0.3s ease; 
  text-align: center;
  color: white;
  font-size: 12px;
   transition: height 0.3s ease, background-color 0.3s ease;
}